/* CSS LAYOUT */
/* **************************************************************** */


.contenido{
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
}



header{
grid-column: 1/4;
grid-row: 1/2;
}
.contenidoCentral{
    grid-column: 2/3;
    grid-row: 2/3;
}
footer{
    grid-column: 3/4;
    grid-row: 3/4;
}