/* CSS LAYOUT */
/* **************************************************************** */


.contenido{
    height: 100%;
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
}



header{
grid-column: 1/4;
grid-row: 2/3;

}

.contenidoCentral{
    grid-column: 2/3;
    grid-row: 2/3;
}

footer{
    display: flex;
    grid-column: 3/4;
    grid-row: 3/4;
    align-items: center;
    padding:10px;
}
