/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";



header, main, footer{
    display:grid;
    grid-template-columns: 1fr 100px 1000px;
    gap:20px;
}

header .logo, .contenidoCentral{
    grid-column:2/3;
}

header .menu, section .redes{
    grid-column: 3/4;

}