/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";



/*  */
body{
    height: 100vh;
    background-image: url("./img/fondo.jpg");
}

.contenido{
    height: 100%;
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
}



header{
    display: flex;
    grid-column: 2/4;
    grid-row: 1/2;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 15px;
}

.main{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.final{
    display: flex;
    grid-column: 2/4;
    grid-row: 1/2;
    flex-direction: row;
    justify-items:center;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 15px;
}

